<div id="list-content" ng-app="myapp" ng-controller="list">
    <dl class="list-dl" ng-repeat="items in listdata">
        <dt><img ng-src="{{items.src}}" alt=""></dt>
        <dd>[
            <span>{{items.name}}</span>
            <a href="#" class="more">
                <i class="iconfont icon-youjiantou-copy f20"></i>
            </a>
            <span class="listen">
                <i class="iconfont icon-erjiline f14"></i>
                {{items.count}}
            </span>
        </dd>
    </dl>
</div>